# convert to 2dp

In [2]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("data.csv")

# Convert all numeric columns to 2 decimal places
df = df.apply(lambda x: x.round(2) if x.dtype == 'float64' else x)

print(df.shape)
df.head()
df.to_csv("convert_dp.csv", index=False)

             A           B           C           D           E           F  \
0  -1338845.18 -2058865.84 -3561641.62 -6029268.02 -7844212.51 -8585413.56
1    914013.20  1440229.24  2696458.99  4433820.48  5763472.23  6048816.49
2    141016.92   141016.92   141016.92   141016.92   141016.92   141016.92
3     30133.96    30133.96    30133.96    30133.96    30133.96    30133.96
4     12578.42    17503.88    32262.65    46959.46    64363.20    64758.01
..         ...         ...         ...         ...         ...         ...
80    10416.67    10416.67    10416.67    10416.67    10416.67    10416.67
81      441.85      441.85      441.85      441.85      441.85      441.85
82      542.50      542.50      542.50      542.50      542.50      542.50
83       60.12       60.12       60.12       60.12       60.12       60.12
84     2000.00     2000.00     2000.00     2000.00     2000.00     2000.00

             G           H           I           J          K          L
0  -5752272.33 -2852232.66 -3447809.71 -1449218.31 -143852.64  -36840.28
1   4074144.57  2129157.73  2534125.16  1033198.38   89001.50   23449.13
2    141016.92   141016.92   141016.92   141016.92  141016.92  141016.92
3     30133.96    30133.96    30133.96    30133.96   30133.96   30133.96
4     48598.65    26338.09    33056.85    12845.93       0.00       0.00
..         ...         ...         ...         ...        ...        ...
80    10416.67    10416.67    10416.67    10416.67   10416.67   10416.67
81      441.85      441.85      441.85      441.85     441.85     441.85
82      542.50      542.50      542.50      542.50     542.50     542.50
83       60.12       60.12       60.12       60.12      60.12      60.12
84     2000.00     2000.00     2000.00     2000.00    2000.00    2000.00

[85 rows x 12 columns]

In [3]:
df.to_csv("convert_dp.csv", index=False)

# Round to 2dp

In [3]:
import pandas as pd

df = pd.read_csv("data.csv")

# Round all numeric columns to 2 decimal places
df = df.apply(lambda x: round(x, 2) if pd.api.types.is_numeric_dtype(x) else x)

# Save the updated DataFrame to a new CSV file
df.to_csv("rouded_data.csv", index=False)

print("Data rounded to 2 decimal places and saved to 'data_updated.csv'")

print(df.shape)
df.head(9)

Data rounded to 2 decimal places and saved to 'data_updated.csv'
(213, 12)

,1,2,3,4,5,6,7,8,9,10,11,12
0,-3348790.49,-4143761.41,-4533571.11,-4344600.00,-3562200.0,-976800.00,-359341.38,-594399.97,-377860.43,-3850641.28,-7890182.65,-8232154.10
1,-2918343.20,-3077965.29,-3255814.12,-3126569.94,-3353990.0,-3960443.49,-3799716.74,-3696984.19,-3844178.95,-3003273.26,-1203421.51,-1095441.86
2,136638.23,51418.48,12761.10,1000.00,1000.0,1000.00,14255.34,23220.76,15653.17,150423.78,294256.22,312958.29
3,15912.83,5915.00,1379.79,0.00,0.0,0.00,1555.09,2606.90,1719.08,17530.12,34404.28,36598.37
4,1768656.42,2402345.52,2783144.10,2738185.00,2643660.0,2103585.00,1773770.78,1754147.48,1796228.43,2074874.73,1969879.74,1991135.70

In [4]:
df.head(9)

,1,2,3,4,5,6,7,8,9,10,11,12
0,-3348790.49,-4143761.41,-4533571.11,-4344600.00,-3562200.0,-976800.00,-359341.38,-594399.97,-377860.43,-3850641.28,-7890182.65,-8232154.10
1,-2918343.20,-3077965.29,-3255814.12,-3126569.94,-3353990.0,-3960443.49,-3799716.74,-3696984.19,-3844178.95,-3003273.26,-1203421.51,-1095441.86
2,136638.23,51418.48,12761.10,1000.00,1000.0,1000.00,14255.34,23220.76,15653.17,150423.78,294256.22,312958.29
3,15912.83,5915.00,1379.79,0.00,0.0,0.00,1555.09,2606.90,1719.08,17530.12,34404.28,36598.37
4,1768656.42,2402345.52,2783144.10,2738185.00,2643660.0,2103585.00,1773770.78,1754147.48,1796228.43,2074874.73,1969879.74,1991135.70
5,46543.59,63219.62,73240.63,72057.50,69570.0,55357.50,46678.18,46161.78,47269.17,54601.97,51838.94,52398.31
6,390966.16,531044.80,615221.33,605283.00,584388.0,465003.00,392096.70,387758.92,397061.02,458656.52,435447.10,440145.79
7,344422.57,467825.18,541980.69,533225.50,514818.0,409645.50,345418.52,341597.14,349791.85,404054.55,383608.16,387747.48
8,58658.54,63178.05,65495.30,63500.00,62500.0,56300.00,51876.83,52010.98,53353.66,55002.44,54097.56,55463.41